config/n8n/workflows/01-whatsapp-lead-capture.json
{
  "name": "WhatsApp Lead Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-new-contact",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-messages",
      "name": "Filter Text Messages",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract lead information from WhatsApp message\nconst entry = $input.first().json.body.entry[0];\nconst change = entry.changes[0].value;\nconst message = change.messages[0];\nconst contact = change.contacts[0];\n\n// Determine business interest based on keywords\nconst text = message.text.body.toLowerCase();\nlet business = 'general';\nlet priority = 'normal';\n\nif (text.includes('solar') || text.includes('panel') || text.includes('battery') || text.includes('inverter')) {\n  business = 'netsurf_power';\n} else if (text.includes('starlink') || text.includes('internet') || text.includes('satellite')) {\n  business = 'netsurf_power';\n  priority = 'high';\n} else if (text.includes('nature') || text.includes('park') || text.includes('cabin') || text.includes('booking') || text.includes('reserve')) {\n  business = 'netsurf_nature_park';\n} else if (text.includes('camping') || text.includes('bird') || text.includes('eco')) {\n  business = 'netsurf_nature_park';\n}\n\nreturn {\n  lead: {\n    phone: message.from,\n    name: contact.profile.name,\n    message: message.text.body,\n    timestamp: new Date(parseInt(message.timestamp) * 1000).toISOString(),\n    business: business,\n    priority: priority,\n    source: 'whatsapp',\n    whatsapp_message_id: message.id\n  }\n};"
      },
      "id": "extract-lead",
      "name": "Extract Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $json.lead.phone }}",
            "name": "={{ $json.lead.name }}",
            "message": "={{ $json.lead.message }}",
            "business": "={{ $json.lead.business }}",
            "priority": "={{ $json.lead.priority }}",
            "source": "={{ $json.lead.source }}",
            "created_at": "={{ $json.lead.timestamp }}"
          }
        },
        "options": {}
      },
      "id": "save-to-db",
      "name": "Save Lead to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [910, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "Netsurf PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "high-priority",
              "leftValue": "={{ $('Extract Lead Data').item.json.lead.priority }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-priority",
      "name": "High Priority?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "notify-msg",
              "name": "message",
              "value": "=🔔 *High Priority Lead*\\n\\n👤 *Name:* {{ $('Extract Lead Data').item.json.lead.name }}\\n📱 *Phone:* {{ $('Extract Lead Data').item.json.lead.phone }}\\n💬 *Message:* {{ $('Extract Lead Data').item.json.lead.message }}\\n🏢 *Business:* {{ $('Extract Lead Data').item.json.lead.business }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-notification",
      "name": "Format Notification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "content": "={{ $json.message }}",
        "options": {}
      },
      "id": "send-slack",
      "name": "Notify Team (Slack/Discord)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1570, 200],
      "disabled": true,
      "notesInFlow": true,
      "notes": "Configure with your Slack credentials"
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Filter Text Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Text Messages": {
      "main": [
        [
          {
            "node": "Extract Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead Data": {
      "main": [
        [
          {
            "node": "Save Lead to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead to Database": {
      "main": [
        [
          {
            "node": "High Priority?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Priority?": {
      "main": [
        [
          {
            "node": "Format Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Notification": {
      "main": [
        [
          {
            "node": "Notify Team (Slack/Discord)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "leads",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "whatsapp",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ]
}
